/*reset-start*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*reset-end*/ 

/*utility-section-start*/ 
.flex{
    display:flex;
}
.justify-between{
    justify-content:space-between;
}
.items-center{
    align-items: center;
}    
    
/*utility-section-end*/ 

/*body-start*/
body{
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
/* body-end*/

/* font-family-start*/
 @font-face {
     font-family: "Raleway-regular";
     src: url(fonts/Raleway-Regular.ttf);
 }
 @font-face {
    font-family: "Raleway-medium";
    src: url(fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-bold";
    src: url(fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-semibold";
    src: url(fonts/Raleway-semiBold.ttf);
}
@font-face {
    font-family: "Raleway-black";
    src: url(fonts/Raleway-Black.ttf);
}
/*******************font-family-end****************/

/*******************color-start****************/
:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#20333F;
}
/*******************color-end****************/

/*******************@mediquery-start****************/
@media(min-width:576px){
    .container{
        max-width:540px;
    }
}
@media(min-width:768px){
    .container{
        max-width:540px;
    }
}
@media(min-width:768px){
    .container{
        max-width:720px;
    }
}
@media(min-width:992){
    .container{
        max-width:960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width:1152px;
    }
}
/*******************@mediquery-end****************/

/*******************container-start****************/
.container{
    width:100%;
    padding:0 15px;
    margin: 0 auto;
}
/*******************container-end****************/

/*******************topbar-start****************/
header.topbar{
    background: var(--secondary);
    color:var(--pure);
    font-family:"Raleway-semibold";

}
header.topbar .auth > div a{
    color:var(--pure);
    text-decoration:none;
}
/*******************topbar-end****************/



