/*reset-start*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*reset-end*/ 

/*utility-section-start*/ 
.flex{
    display:flex;
}
.justify-between{
    justify-content:space-between;
}
.items-center{
    align-items: center;
}    
.justify-center{
    justify-content: center;
}

.magic-shadow{
    position:relative;
    background: var(--heaven);
}
.magic-shadow:after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height:69px;
    background-image: url(icons/shadow.svg);
    background-repeat: no-repeat;
    bottom:-18px;
    z-index: -1;
    background-position: center;
}
.magic-shadow-sm{
    position:relative;
    background: var(--heaven);
}
.magic-shadow-sm:after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height:69px;
    background-image: url(icons/shadow-sm.svg);
    background-repeat: no-repeat;
    bottom:-22px;
    z-index: -1;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}

.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    line-height: 1.2;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s all ease;
    border:1px solid transparent;
}

.btn-primary{
    color:var(--heaven);
    background: var(--primary);
}
.btn-primary:hover{
    color:var(--primary);
    background: var(--heaven);
    border: 1px solid var(--primary);
}
.btn-secondery:hover{
    color:var(--secondary);
    background: var(--heaven);
    border:1px solid var(--secondary)
}
.btn-secondery{
    color:var(--heaven);
    background: var(--secondary);
}

.section-header{
    font-family: raleway-bold;
    text-align: center;
    position: relative;
    margin-bottom: 7rem;
}
.section-header:after{
    content: "";
    position: absolute;
    height: 30px;
    display: block;
    width: 100%;
    background-image: url(icons/hr.svg);
    background-position: center;
    background-repeat: no-repeat;
    bottom: -40px;
}

.text-center{
    text-align: center;
}
.flex-1{
    flex:1;
}
section{
    padding: 4rem 0;
}
.text-primary{
    color:var(--primary);
}
.flex-column{
    flex-direction: column;
}

/*utility-section-end*/ 

/*body-start*/
body{
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-family: raleway-regular;
}
/* body-end*/

/* font-family-start*/
 @font-face {
     font-family: "Raleway-regular";
     src: url(fonts/Raleway-Regular.ttf);
 }
 @font-face {
    font-family: "Raleway-medium";
    src: url(fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-bold";
    src: url(fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-semibold";
    src: url(fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Raleway-black";
    src: url(fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "Raleway-extrabold";
    src: url(fonts/Raleway-ExtraBold.ttf);
}
/*******************font-family-end****************/

/*******************color-start****************/
:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#20333F;
}
/*******************color-end****************/

/*******************@mediquery-start****************/
@media(min-width:576px){
    .container{
        max-width:540px;
    }
}
@media(min-width:768px){
    .container{
        max-width:540px;
    }
}
@media(min-width:768px){
    .container{
        max-width:720px;
    }
}
@media(min-width:992){
    .container{
        max-width:960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width:1152px;
    }
}
/*******************@mediquery-end****************/

/*******************container-start****************/
.container{
    width:100%;
    padding:0 15px;
    margin: 0 auto;
}
/*******************container-end****************/

/*******************topbar-start****************/
header.topbar{
    background: var(--secondary);
    color:var(--pure);
    font-family:"Raleway-semibold";
    padding:0.75rem 0;

}
header.topbar .icons a{
    margin-right: 0.6rem;
}
header.topbar .auth > div a{
    color:var(--pure);
    text-decoration:none;
}
header.topbar .auth > div img{
    margin-right: 0.35rem;
}
header.topbar .auth .divider{
    margin: 0 1rem;
}
/*******************topbar-end****************/

/*******************nav-bar-start****************/
nav .top{
    margin:1.25rem 0;
}
nav .top .container .contact img, nav .top .container .time img{
    margin-right:1rem ;
}
nav .top .container .contact h5,nav .top .container .time h5{
    font-family:raleway-black;
    margin-bottom:0.25rem ;
}
nav .top .container .contact h6,nav .top .container .time h6{
    font-family:raleway-medium;
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color:var(--ternary);
}

nav .menu a{
    text-decoration: none;
    font-family: raleway-semibold;
    padding:1rem 1.25rem;
    font-size: 1rem;
    color: var(--secondary);
    transition: all .3s ease;
}
nav .menu a.active{
    background: var(--primary);
}
nav .menu a:hover{
    background: var(--primary);
}
/*******************nav-bar-end****************/

/*******************hero-start****************/
header.hero{
    height: 600px;
    background-image: url(images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}
header.hero .container{
    position: relative;
}

header.hero .welcome{
    margin-bottom: .25rem;
}
header.hero .welcome span{
    font-family: raleway-bold;
    color: var(--secondary);
    margin-right: 0.75rem;
}
header.hero h1{
    font-family: raleway-extrabold;
    color: var(--secondary);
    font-size:2.5rem;
    margin-bottom: 0.75rem;
}
header.hero h1 span{
    color:var(--primary);
}
header.hero p{
    font-family:raleway-medium;
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}
header.hero button:first-child{
    margin-right: .75rem;
}

header.hero .hero-image{
    position: absolute;
    top: -40px;
    right: 40px;
}

/*******************hero-end****************/
/*******************top-products-start****************/

section.top-products{
    background: var(--light);
}
section.top-products .food-slider .food-cart{
    background:var(--heaven);
    padding : 1.5rem 0;
    border-radius:4px;
}
section.top-products .food-slider .food-cart .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom:1rem ;
}
hr{
    border:1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
section.top-products .food-slider .food-cart h2{
    font-family: raleway-bold;
    font-size: 1.2rem;
    margin-bottom: .25rem;
}
section.top-products .food-slider .food-cart .stars{
    margin-bottom: .5rem;
}
section.top-products .food-slider .food-cart .stars img{
    margin-right: .25rem;
}
section.top-products .food-slider .food-cart .price{
    font-family: raleway-medium;
    color: var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-cart button{
    font-family: raleway-medium;
    color: var(--secondary);
    border: 2px solid var(--primary);
    border-radius: 4px;
    background: var(--heaven);
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    transition: all .3s ease;
}
section.top-products .food-slider .food-cart button:hover{
    background: var(--primary);
    color: var(--heaven);
}
section.top-products .food-slider .food-cart button img{
    background: var(--primary);
    padding: .5rem;
    height: 32px;
    margin-right: 1.2rem;

}
.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin: 0 -27px;
}
section.top-products{
    position: relative;
}
section.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary) ;
    cursor: pointer;
    outline: none;

}
section.top-products .prev-btn{
    position: absolute;
    top: 54%;
    z-index: 1;
    left: 2%;
}
section.top-products .next-btn{
    position: absolute;
    top: 54%;
    z-index: 1;
    right: 2%;
}
.btn-wraper{
    margin-top: 2rem;
}
.slick-track{
    padding: 1rem 0;
}



/*******************top-products-end****************/

/*******************about-meal-start****************/
.about-meal .about-meal-wrap img{
    width: 80%;
}
.about-meal .about-meal-wrap h2{
    font-family: raleway-bold;
    line-height: 1.3;
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom:2rem ;
}
.about-meal .about-meal-wrap p{
    line-height: 1.7;
    margin-bottom: 4rem;
}
/*******************about-meal-end****************/

/*******************about-our-services-start****************/
section.our-services{
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.our-services .card-wrapper{
    margin-right: -2rem;
    margin-top: 8rem;
}
section.our-services .service-card{
    background: var(--heaven);
    text-align:center;
    padding: 2rem;
    padding-top: 4rem;
    position: relative;
    border-radius: 4px;
    margin-right: 2rem;
}
section.our-services .service-card img{
    position:absolute;
    top:-44px;
    left: 50%;
    transform: translateX(-50%);
}
section.our-services .service-card h2{
    font-family: raleway-bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.our-services .service-card p{
    line-height:1.6rem;
    margin-bottom: 1rem;

}

/*******************about-our-services-end****************/
/*******************about-big-deal-start****************/
section.big-deal{
    background: linear-gradient(45deg,rgba(34, 34, 34, .8),rgba(34, 34, 34, .7)),url(images/food-table.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.big-deal .container > h1{
    color: var(--heaven);
}
section.big-deal .timer{
    margin-right: -2rem;
    margin-bottom: 2rem;
}
section.big-deal .timer .timer-content{
    margin-right: 2rem;
    background: var(--primary);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    
}
section.big-deal .timer .timer-content span:first-child{
    font-family: raleway-semibold;
    color:var(--heaven);
    font-size: 1.5rem;
    margin-bottom: 0.05rem;
}
section.big-deal .timer .timer-content span:last-child{
    font-family: raleway-medium;
    color:var(--heaven);
}
/*******************about-big-deal-end****************/

/*******************about-latest news-start****************/

section.latest-news{
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.latest-news .artical-wraper{
    margin-right: -2rem;
}
section.latest-news .artical-wraper .card {
    margin-right:2rem ;
    background: var(--heaven);
    border-radius: 4px;
}
section.latest-news .artical-wraper .card img{
    width: 100%;
}
section.latest-news .artical-wraper .card .card-content{
    padding:2rem;
}
section.latest-news .artical-wraper .card .card-content .post-meta{
    margin-bottom: 1rem;
}
section.latest-news .artical-wraper .card .card-content .post-meta .coment-count{
    margin-left: 1rem;
}
section.latest-news .artical-wraper .card .card-content h2{
    font-family: raleway-bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.latest-news .artical-wraper .card .card-content p{
    line-height: 1.6;
}
section.latest-news .btn-for-card{
    margin-top: 2rem;
}
/*******************about-latest news-end****************/

/******************* subscribe-start**************/
section.subscribe{
    background: var(--primary);
}
section.subscribe .container > div:first-child img{
    width: 90%;
}
section.subscribe .container  div:last-child{
    flex:1;
}
section.subscribe .container div:first-child{
    flex:1;
}
section.subscribe h1{
    font-family: raleway-bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe p{
    font-family: raleway-medium;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
section.subscribe .input-wrap{
    background: var(--heaven);
    padding: 0.3rem;
    display: flex;
    border-radius: 4px;
}
section.subscribe .input-wrap input:focus{
    outline: none;
}
section.subscribe .input-wrap input{
    width:100%;
    border:none;
    font-size: 1rem;
    padding: 0 2rem;
}
section.subscribe .input-wrap button{
    padding: 0.8rem 2rem;
    background: var(--primary);
    font-family: raleway-medium;
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--pure);
    cursor: pointer;
    transition: all 0.3s ease;
}
section.subscribe .input-wrap button:hover{
    background: var(--secondary);
}
/******************* subscribe-end****************/
/*******************contact-us-start****************/
section.contact-us{
    padding-top: 0;
    padding-bottom: 0;
}
section.contact-us .contact-info-wraper{
    flex:1;
    padding: 4rem 0;
}
section.contact-us .contact-info-wraper > div > div > div{
    margin-bottom: 2rem;
}
section.contact-us .contact-info-wraper > div > div > div img{
    margin-right: 1rem;
}
section.contact-us .contact-info-wraper > div > div > div > div span:first-child{
    font-family: raleway-bold;
    margin-bottom: 0.25rem;
}
section.contact-us .map{
    filter:grayscale(100%);
}


/*******************contact-us-end****************/

/*******************footer-start****************/
.footer-top{
    background: var(--footer);
    padding: 4rem 0;
}
footer .container{
}
footer .container .box{
    flex:1;
    color: var(--pure);
    margin-right: 2rem;
    text-align: center;
}

footer .container .box .instagram-post-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .container .box .instagram-post-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .container .box .instagram-post-wrap > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
}
footer .container .box ul{
    list-style-type: none;
}
footer .container .box ul a{
    text-decoration: none;
    color: var(--pure);
    transition: all 0.3s ease;
}
footer .container .box ul a:hover{
    color:var(--primary)
}
footer .container .box h3{
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .container .box p{
    line-height: 1.6;
    margin-bottom: 1rem;
}
footer .container .box ul li{
    margin-bottom: 1rem;
}
footer .container .box:nth-child(3) > div{
    display: flex;
    justify-content: center;
}
footer .container .box:nth-child(3){
    text-align: left;
}
footer .container .box:nth-child(3) h3{
    text-align: center;
}
footer .container .box:nth-child(3) ul li a img{
    margin-right: 1rem;
}
footer .container .box:nth-child(3) ul li{
    margin-bottom: 1.5rem;
}
.footer-bottom .copy-right{
    color: var(--pure);
    text-align: center;
    padding: 1rem 0;
    background: var(--secondary);
}




/*******************footer-end****************/






